* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.pokedex {
    background: linear-gradient(#80BDE3, #FFF);
    height: 100vh;
    display: flex;
    align-items: center;
}

.cloudsBG {
    display: block;
    position: absolute;
    height: 50%;
}

.cloudsTop {
    top: 0%;
}

.cloudsBottom {
    top: 50%;
}

.cloudsFast {
    animation: 10s clouds infinite linear;
}

.cloudsSlow {
    animation: 20s clouds infinite linear reverse;
}

.pokedex-board {
    width: 100%;
    position: relative;
    text-align: center;
}

.pokedex-machine {
    width: 65%;
}

.pokemon-number {
    position: absolute;
    background-color: #5FC480;
    text-align: center;
    top: 0;
    border: #2d6340 0.2vw solid;
    border-radius: 5px;
    font-size: 3vw;
}

@keyframes clouds {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}
