@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@font-face {
    font-family: Essentiarum;
    src: url('./essentiarum.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;

    font-family: 'Orbitron', sans-serif;
}

.pokedex {
    background: linear-gradient(#80BDE3, #FFF);
    height: 100vh;
    display: flex;
    align-items: center;
}

.cloudsBG {
    display: block;
    position: absolute;
    height: 50%;
}

.cloudsTop {
    top: 0%;
}

.cloudsBottom {
    top: 50%;
}

.cloudsFast {
    animation: 10s clouds infinite linear;
}

.cloudsSlow {
    animation: 20s clouds infinite linear reverse;
}

.pokedex-board {
    width: 100%;
    position: relative;
    text-align: center;
}

.pokedex-machine {
    width: 65%;
}

#pokemon-number {
    position: absolute;
    background-color: #5FC480;
    padding: 0.5vw;
    text-align: center;
    height: 10%;
    width: 10%;
    bottom: 14%;
    left: 22%;
    box-shadow: #ccc -2px 2px, #000 -3px 3px;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: 700;
}

.pokemon-image {
    display: none;
    position: absolute;
    text-align: center;
    height: 40%;
    top: 24.5%;
    left: 25.5%;
}

.rotate {
    animation: rotation 8s infinite linear
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.pads {
    position: absolute;
    height: 10%;
    width: 9%;
    bottom: 14%;
    left: 37%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.click-pads {
    padding: 3px;
    height: 90%;
    transition: all 300ms;
}

.arrow {
    height: 100%;
}

.right {
    transform: rotate(-90deg);
}

.left {
    transform: rotate(90deg);
}

.click-pads:active {
    transform: translate(-1.5px, 1.5px);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pokemon-description {
    position: absolute;
    background-color: #084035;
    color: #afde1f;
    text-align: left;
    margin-top: 8px;
    padding: 8px;
    height: 30%;
    width: 25%;
    top: 40%;
    right: 20.2%;
    border: #000 1px solid;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emoji-type {
    font-family: Essentiarum;
    font-size: 2.5vw;
}

.type {
    font-size: 1.5vw;
    text-transform:capitalize;
}

.pokemon-name {
    font-size: 2vw;
    text-transform:capitalize;
}

.pokemon-id {
    font-size: 1.5vw;
    text-transform:uppercase;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1vw;
    gap: 3px;
}

#search-pokemon-name {
    position: absolute;
    background-color: #ccc;
    color: #222;
    outline: none;
    text-align: left;
    padding: 8px;
    width: 25%;
    top: 30%;
    right: 20.2%;
    border: #000 1px solid;
    border-radius: 5px;
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 10px;
}

#search-pokemon-name::placeholder {
    font-size: 1.6vw;
}

.generations {
    position: absolute;
    width: 25%;
    right: 20.2%;
    bottom: 10%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 2px;
}

.generation-button {
    background: #11ebf4;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px #000, -1px 1px #ccc;
    font-size: 2vw;
    transition: all 500ms;
    cursor: pointer;
    font-weight: 700;
}

.generation-button:active {
    background: #0ba6ac;
    transform: translate(-1.5px, 1.5px);
    color: #999;
}

@keyframes clouds {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}
